<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="content flex">
      <img class="w-[32px] h-[44px]" src="<%= movie[:url_cover] %>" alt="<%= movie[:imdb] %>" />
      <div class="ml-2">
        <h2 class="card-title"><%= movie[:title] %></h2>
        <p><%= movie[:year] %></p>
      </div>
    </div>
    <div>
      <%= render partial: "states/state", locals: { state: get_state(states, movie[:imdb]), from_search: true } %>
      <a class="mt-5 btn btn-warning btn-xs" href="https://www.imdb.com/title/<%= movie[:imdb] %>" target="_blank">See on IMDb</a>
    </div>
  </div>
</div>