<div class="form-control w-full">
  <label class="label" for="<%= name %>">
    <span class="label-text"><%= title %>:</span>
  </label>
  <input name="<%= name %>" id="<%= name %>" type="<%= type %>" value="<%= params[name] %>" class="input input-bordered w-full" />
</div>