<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-base-300">
    <%= yield %>
    <%= render partial: "modal/loading" %>
    <div id="modal"></div>
  </body>
</html>
